@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla;
  color: #333;
}

.navbar{
  padding: 20px ;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0px auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #f1356d;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #f1356d;
}

.content{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 10px;
}

.btn{
  color: #fff;
  display: block;
  padding: 6px;
}

.card{
  height: 220px;
  width: 100%;
  border: 1px solid lightskyblue;
  border-radius: 10px;
  padding: 20px 10px;
  transition: border 1s, box-shadow .50s;
}
.card h2{
  padding: 10px 0px;
}

.card:hover{
  color: aqua;
  
  box-shadow: 2px 2px 4px #333;
}

.padding{
  padding: 8px 0px;
  font-weight: 600;
}